# 2.1 Связи между таблицами

---

## Инициализация БД

In [1]:
%load_ext sql
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///stepik.db')
%sql sqlite:///stepik.db

'Connected: @stepik.db'

In [2]:
# Подключение помощника по работе с учебными таблицами
import sys
sys.path.append('../helpers')
import tableHelper as th
th.setEngine(engine)

***

# Упражнения

### Задание 1. `DESCRIBE`/`PRAGMA table_info()`

Создать таблицу `fine` следующей структуры:

| Поле | Описание |
|:---:|:---:|
| fine_id | ключевой столбец целого типа с автоматическим увеличением значения ключа на 1 |
| name | строка длиной 30 |
| number_plate | строка длиной 6 |
| violation | строка длиной 50 |
| sum_fine | вещественное число, максимальная длина 8, количество знаков после запятой 2 |
| date_violation | дата |
| date_payment | дата |

In [28]:
%%sql
CREATE TABLE fine (
       fine_id        INTEGER PRIMARY KEY,
       name           VARCHAR(30),
       number_plate   VARCHAR(6),
       violation      VARCHAR(50),
       sum_fine       NUMERIC(8, 2),
       date_violation DATE,
       date_payment   DATE
       )

 * sqlite:///stepik.db
Done.

[]

In [3]:
%%sql
PRAGMA table_info(fine);

 * sqlite:///stepik.db
Done.

[(0, 'fine_id', 'INTEGER', 0, None, 1),
 (1, 'name', 'VARCHAR(30)', 0, None, 0),
 (2, 'number_plate', 'VARCHAR(6)', 0, None, 0),
 (3, 'violation', 'VARCHAR(50)', 0, None, 0),
 (4, 'sum_fine', 'NUMERIC(8, 2)', 0, None, 0),
 (5, 'date_violation', 'DATE', 0, None, 0),
 (6, 'date_payment', 'DATE', 0, None, 0)]