# 1.7 Таблица "Нарушения ПДД", запросы корректировки

---

## Инициализация БД

In [1]:
%load_ext sql
import sqlalchemy
engine = sqlalchemy.create_engine('mysql://user:pass@localhost:3306/stepik')
%sql mysql://user:pass@localhost:3306/stepik

'Connected: user@stepik'

In [2]:
# Подключение помощника по работе с учебными таблицами
import sys
sys.path.append('../helpers')
import tablehelper as th
th.setEngine(engine)

***

# Упражнения

### Задание 1. `DESCRIBE`

Создать таблицу `fine` следующей структуры:

| Поле | Описание |
|:---:|:---:|
| fine_id | ключевой столбец целого типа с автоматическим увеличением значения ключа на 1 |
| name | строка длиной 30 |
| number_plate | строка длиной 6 |
| violation | строка длиной 50 |
| sum_fine | вещественное число, максимальная длина 8, количество знаков после запятой 2 |
| date_violation | дата |
| date_payment | дата |

In [9]:
%%sql
CREATE TABLE fine (
       fine_id        INT PRIMARY KEY AUTO_INCREMENT,
       name           VARCHAR(30),
       number_plate   VARCHAR(6),
       violation      VARCHAR(50),
       sum_fine       NUMERIC(8, 2),
       date_violation DATE,
       date_payment   DATE
       )

 * mysql://user:***@localhost:3306/stepik
(MySQLdb._exceptions.OperationalError) (1050, "Table 'fine' already exists")
[SQL: CREATE TABLE fine (
       fine_id        INT PRIMARY KEY AUTO_INCREMENT,
       name           VARCHAR(30),
       number_plate   VARCHAR(6),
       violation      VARCHAR(50),
       sum_fine       NUMERIC(8, 2),
       date_violation DATE,
       date_payment   DATE
       )]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [5]:
%%sql
DESCRIBE fine;

 * mysql://user:***@localhost:3306/stepik
7 rows affected.

[('fine_id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(30)', 'YES', '', None, ''),
 ('number_plate', 'varchar(6)', 'YES', '', None, ''),
 ('violation', 'varchar(50)', 'YES', '', None, ''),
 ('sum_fine', 'decimal(8,2)', 'YES', '', None, ''),
 ('date_violation', 'date', 'YES', '', None, ''),
 ('date_payment', 'date', 'YES', '', None, '')]

### Задание 2

Добавить в таблицу `fine` значения:

| fine_id | name | number_plate | violation | sum_fine | date_violation | date_payment |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
| 1 | Баранов П.Е. | Р523ВТ | Превышение скорости<br>(от 40 до 60) | 500.00 | 2020-01-12 | 2020-01-17 |
| 2 | Абрамова К.А. | О111АВ | Проезд на<br>запрещающий сигнал | 1000.00 | 2020-01-14 | 2020-02-27 |
| 3 | Яковлев Г.Р. | Т330ТТ | Превышение скорости<br>(от 20 до 40) | 500.00 | 2020-01-23 | 2020-02-23 |
| 4 | Яковлев Г.Р. | М701АА | Превышение скорости<br>(от 20 до 40) |   | 2020-01-12 |   |
| 5 | Колесов С.П. | К892АХ | Превышение скорости<br>(от 20 до 40) |   | 2020-02-01 |   |
| 6 | Баранов П.Е. | Р523ВТ | Превышение скорости<br>(от 40 до 60) |   | 2020-02-14 |   |
| 7 | Абрамова К.А. | О111АВ | Проезд на<br>запрещающий сигнал |   | 2020-02-23 |   |
| 8 | Яковлев Г.Р. | Т330ТТ | Проезд на<br>запрещающий сигнал |   | 2020-03-03 |   |

In [6]:
%%sql
INSERT INTO fine (name, number_plate, violation, sum_fine, date_violation, date_payment)
VALUES
        ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500.00, '2020-01-12', '2020-01-17'),
        ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000.00, '2020-01-14', '2020-02-27'),
        ('Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500.00, '2020-01-23', '2020-02-23'),
        ('Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', Null, '2020-01-12', Null),
        ('Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', Null, '2020-02-01', Null),
        ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', Null, '2020-02-14', Null),
        ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', Null, '2020-02-23', Null),
        ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', Null, '2020-03-03', Null)

 * mysql://user:***@localhost:3306/stepik
8 rows affected.

[]

In [3]:
%%sql
SELECT * FROM fine

 * mysql://user:***@localhost:3306/stepik
8 rows affected.

[(1, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', Decimal('500.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 17)),
 (2, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 1, 14), datetime.date(2020, 2, 27)),
 (3, 'Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 23), datetime.date(2020, 2, 23)),
 (4, 'Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', None, datetime.date(2020, 1, 12), None),
 (5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', None, datetime.date(2020, 2, 1), None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', None, datetime.date(2020, 2, 14), None),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', None, datetime.date(2020, 2, 23), None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', None, datetime.date(2020, 3, 3), None)]

In [6]:
fine = th.fromDB('fine', 'tables/fine.csv')

In [7]:
fine

__name__ = fine
__path__ = tables/fine.csv
 fine_id          name number_plate                        violation  sum_fine date_violation date_payment
       1  Баранов П.Е.       Р523ВТ Превышение скорости(от 40 до 60)     500.0     2020-01-12   2020-01-17
       2 Абрамова К.А.       О111АВ     Проезд на запрещающий сигнал    1000.0     2020-01-14   2020-02-27
       3  Яковлев Г.Р.       Т330ТТ Превышение скорости(от 20 до 40)     500.0     2020-01-23   2020-02-23
       4  Яковлев Г.Р.       М701АА Превышение скорости(от 20 до 40)       NaN     2020-01-12          NaT
       5  Колесов С.П.       К892АХ Превышение скорости(от 20 до 40)       NaN     2020-02-01          NaT
       6  Баранов П.Е.       Р523ВТ Превышение скорости(от 40 до 60)       NaN     2020-02-14          NaT
       7 Абрамова К.А.       О111АВ     Проезд на запрещающий сигнал       NaN     2020-02-23          NaT
       8  Яковлев Г.Р.       Т330ТТ     Проезд на запрещающий сигнал       NaN     2020-03-03          NaT