# 1.7 Таблица "Нарушения ПДД", запросы корректировки

---

## Инициализация БД

In [1]:
%load_ext sql
import sqlalchemy
engine = sqlalchemy.create_engine('sqlite:///stepik.db')
%sql sqlite:///stepik.db

'Connected: @stepik.db'

In [2]:
# Подключение помощника по работе с учебными таблицами
import sys
sys.path.append('../helpers')
import tableHelper as th
th.setEngine(engine)

In [3]:
fine = th.Table('fine', 'tables/fine.csv')
traffic_violation = th.Table('traffic_violation', 'tables/traffic_violation.csv')

fine.reset()
traffic_violation.reset()

***

# Упражнения

### Задание 1. `DESCRIBE`/`PRAGMA table_info()`

Создать таблицу `fine` следующей структуры:

| Поле | Описание |
|:---:|:---:|
| fine_id | ключевой столбец целого типа с автоматическим увеличением значения ключа на 1 |
| name | строка длиной 30 |
| number_plate | строка длиной 6 |
| violation | строка длиной 50 |
| sum_fine | вещественное число, максимальная длина 8, количество знаков после запятой 2 |
| date_violation | дата |
| date_payment | дата |

In [28]:
%%sql
CREATE TABLE fine (
       fine_id        INTEGER PRIMARY KEY,
       name           VARCHAR(30),
       number_plate   VARCHAR(6),
       violation      VARCHAR(50),
       sum_fine       NUMERIC(8, 2),
       date_violation DATE,
       date_payment   DATE
       )

 * sqlite:///stepik.db
Done.

[]

In [3]:
%%sql
PRAGMA table_info(fine);

 * sqlite:///stepik.db
Done.

[(0, 'fine_id', 'INTEGER', 0, None, 1),
 (1, 'name', 'VARCHAR(30)', 0, None, 0),
 (2, 'number_plate', 'VARCHAR(6)', 0, None, 0),
 (3, 'violation', 'VARCHAR(50)', 0, None, 0),
 (4, 'sum_fine', 'NUMERIC(8, 2)', 0, None, 0),
 (5, 'date_violation', 'DATE', 0, None, 0),
 (6, 'date_payment', 'DATE', 0, None, 0)]

### Задание 2

Добавить в таблицу `fine` значения:

| fine_id | name | number_plate | violation | sum_fine | date_violation | date_payment |
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
| 1 | Баранов П.Е. | Р523ВТ | Превышение скорости<br>(от 40 до 60) | 500.00 | 2020-01-12 | 2020-01-17 |
| 2 | Абрамова К.А. | О111АВ | Проезд на<br>запрещающий сигнал | 1000.00 | 2020-01-14 | 2020-02-27 |
| 3 | Яковлев Г.Р. | Т330ТТ | Превышение скорости<br>(от 20 до 40) | 500.00 | 2020-01-23 | 2020-02-23 |
| 4 | Яковлев Г.Р. | М701АА | Превышение скорости<br>(от 20 до 40) |   | 2020-01-12 |   |
| 5 | Колесов С.П. | К892АХ | Превышение скорости<br>(от 20 до 40) |   | 2020-02-01 |   |
| 6 | Баранов П.Е. | Р523ВТ | Превышение скорости<br>(от 40 до 60) |   | 2020-02-14 |   |
| 7 | Абрамова К.А. | О111АВ | Проезд на<br>запрещающий сигнал |   | 2020-02-23 |   |
| 8 | Яковлев Г.Р. | Т330ТТ | Проезд на<br>запрещающий сигнал |   | 2020-03-03 |   |

In [86]:
%%sql
INSERT INTO fine (name, number_plate, violation, sum_fine, date_violation, date_payment)
VALUES
        ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500.00, '2020-01-12', '2020-01-17'),
        ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000.00, '2020-01-14', '2020-02-27'),
        ('Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500.00, '2020-01-23', '2020-02-23'),
        ('Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', Null, '2020-01-12', Null),
        ('Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', Null, '2020-02-01', Null),
        ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', Null, '2020-02-14', Null),
        ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', Null, '2020-02-23', Null),
        ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', Null, '2020-03-03', Null)

 * sqlite:///stepik.db
8 rows affected.

[]

In [3]:
%%sql
SELECT * FROM fine

 * sqlite:///stepik.db
Done.

[(1, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500, '2020-01-12', '2020-01-17'),
 (2, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000, '2020-01-14', '2020-02-27'),
 (3, 'Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500, '2020-01-23', '2020-02-23'),
 (4, 'Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', None, '2020-01-12', None),
 (5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', None, '2020-02-01', None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', None, '2020-02-14', None),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', None, '2020-02-23', None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', None, '2020-03-03', None)]

In [4]:
fine = th.Table('fine', 'tables/fine.csv')
fine.reset()

In [5]:
fine

__name__ = fine
__path__ = tables/fine.csv
 fine_id          name number_plate                        violation  sum_fine date_violation date_payment
       1  Баранов П.Е.       Р523ВТ Превышение скорости(от 40 до 60)     500.0     2020-01-12   2020-01-17
       2 Абрамова К.А.       О111АВ     Проезд на запрещающий сигнал    1000.0     2020-01-14   2020-02-27
       3  Яковлев Г.Р.       Т330ТТ Превышение скорости(от 20 до 40)     500.0     2020-01-23   2020-02-23
       4  Яковлев Г.Р.       М701АА Превышение скорости(от 20 до 40)       NaN     2020-01-12          NaT
       5  Колесов С.П.       К892АХ Превышение скорости(от 20 до 40)       NaN     2020-02-01          NaT
       6  Баранов П.Е.       Р523ВТ Превышение скорости(от 40 до 60)       NaN     2020-02-14          NaT
       7 Абрамова К.А.       О111АВ     Проезд на запрещающий сигнал       NaN     2020-02-23          NaT
       8  Яковлев Г.Р.       Т330ТТ     Проезд на запрещающий сигнал       NaN     2020-03-03          NaT

In [6]:
traffic_violation = th.Table('traffic_violation', 'tables/traffic_violation.csv','schemas/traffic_violation_schema.csv')

In [11]:
traffic_violation

__name__ = traffic_violation
__path__ = tables/traffic_violation.csv
 violation_id                        violation  sum_fine
            1 Превышение скорости(от 20 до 40)       500
            2 Превышение скорости(от 40 до 60)      1000
            3     Проезд на запрещающий сигнал      1000

## Использование временного имени таблицы (алиаса) `AS`

**Пример**  
Для тех, кто уже оплатил штраф, вывести информацию о том, изменялась ли стандартная сумма штрафа.

In [7]:
%%sql
SELECT f.name, f.date_payment, t.sum_fine, (f.sum_fine - t.sum_fine) AS sum_diff
  FROM fine AS f, traffic_violation AS t
 WHERE f.violation = t.violation
   AND f.date_payment NOT NULL

 * sqlite:///stepik.db
Done.

[('Баранов П.Е.', '2020-01-17', 1000, -500),
 ('Абрамова К.А.', '2020-02-27', 1000, 0),
 ('Яковлев Г.Р.', '2020-02-23', 500, 0)]

### Задание 3

Занести в таблицу `fine` суммы штрафов, которые должен оплатить водитель,  
в соответствии с данными из таблицы `traffic_violation` .  
При этом суммы заносить только в пустые поля столбца `sum_fine`.

Таблица `traffic_violation` создана и заполнена.

**Важно!** Сравнение значения столбца с пустым значением осуществляется с помощью оператора `IS NULL`

In [6]:
fine.reset()
traffic_violation.reset()

In [7]:
%%sql
UPDATE fine AS f
   SET sum_fine = tv.sum_fine
  FROM traffic_violation AS tv
 WHERE f.sum_fine IS NULL
   AND f.violation = tv.violation;

SELECT * FROM fine

 * sqlite:///stepik.db
0 rows affected.
Done.

[(1, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500, '2020-01-12', '2020-01-17'),
 (2, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000, '2020-01-14', '2020-02-27'),
 (3, 'Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500, '2020-01-23', '2020-02-23'),
 (4, 'Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', 500, '2020-01-12', None),
 (5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', 500, '2020-02-01', None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 1000, '2020-02-14', None),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000, '2020-02-23', None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', 1000, '2020-03-03', None)]

In [5]:
fine.save()

## Группировка данных по нескольким столбцам

В разделе `GROUP BY` можно указывать несколько столбцов, разделяя их запятыми. Тогда к одной группе будут относиться записи, у которых значения столбцов, входящих в группу, равны. Рассмотрим группировку по нескольким столбцам на примере следующего запроса:

>SELECT name, number_plate, violation, count(*)  
>FROM fine  
>GROUP BY name, number_plate, violation;

1. Сначала записи таблицы `fine` разделяются на группы.  
   В каждую группу включаются строки, у которых равны значения в столбцах `name`, `number_plate` и `violation` соответственно. Получается 6 групп. 
   
![](https://ucarecdn.com/ff298302-7c99-4ecc-8245-d26c32c1d524/)

2. Затем вычисляется функция `count(*)`, которая определяет количество записей в каждой группе.  
   Получается, что к первым двум группам относятся по две записи, ко всем остальным - по одной.
   
![](https://ucarecdn.com/4bb9e222-d1ba-4806-8fd8-b7eb8c64f11b/)

**Важно!** В разделе `GROUP BY` нужно перечислять все НЕАГРЕГИРОВАННЫЕ столбцы (к которым не применяются групповые функции) из `SELECT`.

### Задание 4

Вывести фамилию, номер машины и нарушение только для тех водителей, которые на одной машине нарушили одно и то же правило   
два и более раз. При этом учитывать все нарушения, независимо от того оплачены они или нет.  
Информацию отсортировать в алфавитном порядке, сначала по фамилии водителя, потом по номеру машины и, наконец, по нарушению.

In [17]:
%%sql
SELECT name, number_plate, violation
  FROM fine
 GROUP BY name, number_plate, violation
HAVING COUNT(*) >= 2
 ORDER BY 1, 2, 3

 * sqlite:///stepik.db
Done.

[('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал'),
 ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)')]

### Задание 5

В таблице `fine` увеличить в два раза сумму неоплаченных штрафов для отобранных на предыдущем шаге записей.

In [57]:
fine.reset()

In [58]:
%%sql
UPDATE fine AS f
   SET sum_fine = sum_fine * 2
  FROM (SELECT name, number_plate, violation
          FROM fine
         GROUP BY name, number_plate, violation
        HAVING COUNT(*) >= 2) AS sq
 WHERE f.date_payment IS NULL
   AND (f.name, f.number_plate, f.violation) = (sq.name, sq.number_plate, sq.violation);

SELECT * FROM fine

 * sqlite:///stepik.db
2 rows affected.
Done.

[(1, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500, '2020-01-12', '2020-01-17'),
 (2, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000, '2020-01-14', '2020-02-27'),
 (3, 'Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500, '2020-01-23', '2020-02-23'),
 (4, 'Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', 500, '2020-01-12', None),
 (5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', 500, '2020-02-01', None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 2000, '2020-02-14', None),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 2000, '2020-02-23', None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', 1000, '2020-03-03', None)]

In [60]:
fine.save()

### Задание 6

Водители оплачивают свои штрафы. В таблице `payment` занесены даты их оплаты:

| payment_id | name | number_plate | violation | date_violation | date_payment |
|:---:|:---:|:---:|:---:|:---:|:---:|
| 1 | Яковлев Г.Р. | М701АА | Превышение скорости(от 20 до 40) | 2020-01-12 | 2020-01-22 |
| 2 | Баранов П.Е. | Р523ВТ | Превышение скорости(от 40 до 60) | 2020-02-14 | 2020-03-06 |
| 3 | Яковлев Г.Р. | Т330ТТ | Проезд на запрещающий сигнал | 2020-03-03 | 2020-03-23 |

In [61]:
payment = th.Table('payment','tables/payment.csv','schemas/payment_schema.csv')

In [62]:
payment

__name__ = payment
__path__ = tables/payment.csv
 payment_id         name number_plate                        violation date_violation date_payment
          1 Яковлев Г.Р.       М701АА Превышение скорости(от 20 до 40)     2020-01-12   2020-01-22
          2 Баранов П.Е.       Р523ВТ Превышение скорости(от 40 до 60)     2020-02-14   2020-03-06
          3 Яковлев Г.Р.       Т330ТТ     Проезд на запрещающий сигнал     2020-03-03   2020-03-23

Необходимо:

- в таблицу `fine` занести дату оплаты соответствующего штрафа из таблицы `payment`; 
- уменьшить начисленный штраф в таблице `fine` в два раза  (только для тех штрафов, информация о которых занесена в таблицу `payment`) , если оплата произведена не позднее 20 дней со дня нарушения.

In [72]:
fine.reset()

In [73]:
%%sql
UPDATE fine AS f
   SET date_payment = p.date_payment,
       sum_fine  = sum_fine * IIF((JULIANDAY(p.date_payment) - JULIANDAY(p.date_violation)) <= 20 , 0.5, 1)
  FROM payment AS p
 WHERE f.date_payment IS NULL
   AND (f.name, f.number_plate, f.violation, f.date_violation) = 
       (p.name, p.number_plate, p.violation, p.date_violation);

SELECT * FROM fine

 * sqlite:///stepik.db
3 rows affected.
Done.

[(1, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 500, '2020-01-12', '2020-01-17'),
 (2, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 1000, '2020-01-14', '2020-02-27'),
 (3, 'Яковлев Г.Р.', 'Т330ТТ', 'Превышение скорости(от 20 до 40)', 500, '2020-01-23', '2020-02-23'),
 (4, 'Яковлев Г.Р.', 'М701АА', 'Превышение скорости(от 20 до 40)', 250, '2020-01-12', '2020-01-22'),
 (5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', 500, '2020-02-01', None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 2000, '2020-02-14', '2020-03-06'),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 2000, '2020-02-23', None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', 500, '2020-03-03', '2020-03-23')]

In [74]:
fine.save()

### Задание 7

Создать новую таблицу `back_payment`, куда внести информацию о неоплаченных штрафах (Фамилию и инициалы водителя, номер машины, нарушение, сумму штрафа и дату нарушения) из таблицы `fine`.

**Важно.** На этом шаге необходимо создать таблицу на основе запроса! Не нужно одним запросом создавать таблицу, а вторым в нее добавлять строки.

In [81]:
%%sql
CREATE TABLE back_payment AS
SELECT name, number_plate, violation, sum_fine, date_violation
  FROM fine
 WHERE date_payment IS NULL

 * sqlite:///stepik.db
Done.

[]

In [82]:
%%sql
SELECT * FROM back_payment

 * sqlite:///stepik.db
Done.

[('Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', 500, '2020-02-01'),
 ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 2000, '2020-02-23')]

### Задание 8

Удалить из таблицы `fine` информацию о нарушениях, совершенных раньше 1 февраля 2020 года.

In [84]:
%%sql
DELETE FROM fine
 WHERE date_violation < '2020-02-01';

SELECT * FROM fine

 * sqlite:///stepik.db
4 rows affected.
Done.

[(5, 'Колесов С.П.', 'К892АХ', 'Превышение скорости(от 20 до 40)', 500, '2020-02-01', None),
 (6, 'Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', 2000, '2020-02-14', '2020-03-06'),
 (7, 'Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', 2000, '2020-02-23', None),
 (8, 'Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', 500, '2020-03-03', '2020-03-23')]